<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About CodeWithAnkit</title>
    <link href="output.css" rel="stylesheet" />
</head>
<body>
  <h1 class="text-center p-4 font-bold sm:text-3xl text-2xl title-font mb-2 text-gray-900 dark:bg-teal-500">About CodeWithAnkit</h1>
    <section class="text-gray-600 body-font">
        <div class="container flex flex-wrap px-5 py-24 mx-auto items-center">
          <div class="md:w-1/2 md:pr-12 md:py-8 md:border-r md:border-b-0 mb-10 md:mb-0 pb-10 border-b border-gray-200">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Ankit Dwivedi</h1>
            <p class="leading-relaxed text-base">I am an aspiring web developer proficient in MERN Stack. My strong foundation in Ptthon Basics , Its libraries and data structures and algorithms in C allows me to tackle complex problems. I'm also skilled in HTML, CSS, and JavaScript, which enables me to create engaging and user-friendly websites. Currently pursuing a BScIT degree at the College of Commerce in Patna, Bihar, India, I'm actively seeking opportunities to work on innovative web projects. Some recent highlights include building a TextUtils webpage using ReactJS, completing the CCNAv7: Introduction to Networks course, and developing a password generator using HTML, CSS, and JavaScript. Let's connect and explore how we can make the web a more exciting and functional place together! 😊🌐✨</p>
          </div>
          <div class="flex flex-col md:w-1/2 md:pl-12">
            <h2 class="title-font font-semibold text-gray-800 tracking-wider text-sm mb-3">KNOWLEDGE ABOUT</h2>
            <nav class="flex flex-wrap list-none -mb-1">
              <li class="lg:w-1/3 mb-1 w-1/2">
                <a class="text-gray-600 hover:text-gray-800">HTML</a>
              </li>
              <li class="lg:w-1/3 mb-1 w-1/2">
                <a class="text-gray-600 hover:text-gray-800">CSS</a>
              </li>
              <li class="lg:w-1/3 mb-1 w-1/2">
                <a class="text-gray-600 hover:text-gray-800">JavaScript</a>
              </li>
              <li class="lg:w-1/3 mb-1 w-1/2">
                <a class="text-gray-600 hover:text-gray-800">React Js</a>
              </li>
              <li class="lg:w-1/3 mb-1 w-1/2">
                <a class="text-gray-600 hover:text-gray-800">MongoDb</a>
              </li>
              <li class="lg:w-1/3 mb-1 w-1/2">
                <a class="text-gray-600 hover:text-gray-800">Node Js</a>
              </li>
              <li class="lg:w-1/3 mb-1 w-1/2">
                <a class="text-gray-600 hover:text-gray-800">Express Js</a>
              </li>
              <li class="lg:w-1/3 mb-1 w-1/2">
                <a class="text-gray-600 hover:text-gray-800">Python Basics</a>
              </li>
              <li class="lg:w-1/3 mb-1 w-1/2">
                <a class="text-gray-600 hover:text-gray-800">Pandas</a>
              </li>
              <li class="lg:w-1/3 mb-1 w-1/2">
                <a class="text-gray-600 hover:text-gray-800">Numpy</a>
              </li>
              <li class="lg:w-1/3 mb-1 w-1/2">
                <a class="text-gray-600 hover:text-gray-800">Matplotlib</a>
              </li>
              <li class="lg:w-1/3 mb-1 w-1/2">
                <a class="text-gray-600 hover:text-gray-800">Scikit learn</a>
              </li>
              <li class="lg:w-1/3 mb-1 w-1/2">
                <a class="text-gray-600 hover:text-gray-800">C and DSA in C</a>
              </li>
            </nav>
          </div>
        </div>
      </section>
      <div class="flex justify-center border">
        <button onclick="window.location.href = '/'"
        class="inline-flex text-white bg-teal-500 border-0 py-2 px-6 focus:outline-none hover:bg-teal-600 rounded text-lg">
        Home
      </button>
      </div>
      <footer class="bg-white  shadow dark:bg-teal-600 p-4">
        <span class="block text-center text-sm text-gray-400 sm:text-center dark:text-gray-200">&copy; <%= date %> CodeWithAnkit
    
        </span>
      </footer>
</body>
</html>